#img-8 {
  top: 0%;
}

.container-img-8 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -20%;
  margin-bottom: 400px;
}

.object-img-8 {
  position: relative;
  width: 60%;
  height: 100%;
  top: 60%;
}

.object-img-8 img {
  width: 100%;
  top: 60%;
}

#bulle1 {
  margin-bottom: 50%;
  margin-right: 20%;
  width: 40%;
  position: absolute;
}

#bulle2 {
  width: 20%;
  margin-top: -40%;
  margin-left: -45%;
  position: absolute;
}

#bulle3 {
  width: 20%;
  margin-top: -15%;
  margin-left: -47%;
  position: absolute;
}

#bulle4 {
  width: 20%;
  margin-top: -30%;
  margin-left: 20%;
  position: absolute;
}

#bulle5 {
  position: absolute;
  width: 18%;
  margin-top: -17%;
  margin-left: 13%;
}

#bulle6 {
  width: 15%;
  margin-top: -5%;
  margin-left: 10%;
  position: absolute;
}

#bulle7 {
  width: 20%;
  margin-top: 5%;
  margin-left: 20%;
  position: absolute;
}
