#img-8 {
  top: 0%;
}

.container-img-8 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -20%;
  margin-bottom: 400px;
}

.object-img-8 {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 60%;
}

.object-img-8 img {
  width: 100%;
  top: 60%;
}

#bulle1 {
  margin-bottom: 45%;
  margin-right: 20%;
  width: 40%;
  position: absolute;
}

#bulle2 {
  width: 20%;
  margin-top: -35%;
  margin-left: -45%;
  position: absolute;
}

#bulle3 {
  width: 100%;
  margin-top: -100%;
  margin-left: -450%;
}

// #bulle4 {
//   width: 130%;
//   margin-bottom: 400%;
//   margin-left: -200%;
// }

// #bulle5 {
//   width: 130%;
//   margin-bottom: 200%;
//   margin-left: -400%;
// }

// #bulle6 {
//   width: 120%;
//   margin-bottom: -100%;
//   margin-left: -300%;
// }

// #bulle7 {
//   width: 120%;
//   margin-bottom: -100%;
//   margin-left: -200%;
// }
