#img-8 {
  top: 0%;
}

.container-img-8 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -20%;
  margin-bottom: 500px;
}

.object-img-8 {
  position: relative;
  width: 60%;
  height: 90%;
}

.object-img-8 img {
  width: 100%;
  top: 60%;
}

#bulle1 {
  width: 40%;
  margin-bottom: 75%;
  margin-right: 15%;
  position: absolute;
}

#bulle2 {
  width: 20%;
  margin-top: -49%;
  margin-left: -12%;
  position: absolute;
}

#bulle3 {
  width: 21%;
  margin-top: -30%;
  margin-left: -13%;
  position: absolute;
}

#bulle4 {
  width: 17%;
  margin-top: -36%;
  margin-left: 44%;
  position: absolute;
}

#bulle5 {
  width: 14%;
  margin-top: -23%;
  margin-left: 37%;
  position: absolute;
}

#bulle6 {
  width: 15%;
  margin-top: -15%;
  margin-left: 50%;
  position: absolute;
}

#bulle7 {
  width: 20%;
  margin-top: -3%;
  margin-left: 52%;
  position: absolute;
}
