.title-intro {
  color: var(--bleu);
  text-transform: uppercase;
  font-family: "Pathway Extreme", sans-serif;
  font-size: 80px;
  left: 5%;
  top: 5%;
}

#background-intro-move {
  width: 100vw;
  height: 100vh;
  margin-bottom: -280px;
}

.background-intro {
  background-image: url(/src/img/background_intro.webp);
}

#train_container {
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

video {
  max-width: 1000px;
  max-height: 800px;
  width: 100%;
  height: auto;
}

#main-container-bancpere {
  display: flex;
  justify-content: center;
}

#main-banc-pere {
  max-width: 1000px;
  margin-bottom: 200px;
}

.container-lune {
  position: static;
  margin-bottom: 10px;
}

#lune {
  width: 100vw;
  height: 1000px;
  transform: rotate(180deg);
  object-fit: cover;
  display: flex;
}

#img-lune {
  width: 100%;
  object-fit: cover;
}

/* papillon - motionPath */

.object-papillon img {
  width: 160%;
  height: auto;
  transform: rotate(45deg);
}

.object-papillon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.container-papillon {
  z-index: 2;
  position: absolute;
}

/* miroir - wrapper - venant de la gauche*/

.container-miroir {
  display: flex;
  justify-content: start;
  align-items: center;
}

.object-miroir {
  width: 60%;
  height: 30%;
  transform: translateX(-60%);
}

.object-miroir img {
  width: 100%;
  height: auto;
  display: block;
}

/* img-2 - wrapper - venant de la droite*/

.container-img-2 {
  display: flex;
  align-items: center;
}

.object-img-2 {
  width: 60%;
  height: 30%;
  transform: translateX(60%);
}

.object-img-2 img {
  width: 100%;
  height: auto;
  display: block;
}

/* img-3 - wrapper - venant de la gauche*/

.container-img-3 {
  display: flex;
  justify-content: start !important;
  align-items: center;
  margin: -20% 0;
}

.object-img-3 {
  width: 60%;
  height: 30%;
  transform: translateX(-60%);
}

.object-img-3 img {
  width: 100%;
  height: auto;
  display: block;
}

/* img-4 - wrapper - venant de la droit*/

.container-img-4 {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: -10% 0;
}

.object-img-4 {
  width: 60%;
  height: 30%;
  transform: translateX(60%);
}

.object-img-4 img {
  width: 100%;
  height: auto;
  display: block;
}

// case plonger

.container-img-5-6-7 {
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  margin: 10% 0;
}

.object-img-5 {
  width: 30%;
  height: 80%;
  bottom: 20%;
  position: relative !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.object-img-5 img {
  width: auto;
  height: 100%;
  display: block;
}

.object-img-6 {
  width: 30%;
  height: 80%;
  bottom: 0%;
  position: relative !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.object-img-6 img {
  width: auto;
  height: 100%;
  display: block;
}

.object-img-7 {
  width: 30%;
  height: 80%;
  bottom: -20%;
  position: relative !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.object-img-7 img {
  width: 100%;
  height: auto;
  display: block;
}

.container-img-9 {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: -30%;
  margin-bottom: 30%;
}

.object-img-9 {
  width: 60%;
  height: 30%;
  transform: translateX(60%);
}

.object-img-9 img {
  width: 50%;
  height: auto;
  display: block;
}
