#vente-container-background {
  position: relative;
}

#vente-background {
  position: absolute;
  top: -180px;
  left: 67px;
  opacity: 10%;
  transform: rotate(12deg);
  z-index: -1;
}

#vente-background img {
  width: 1242px;
  height: auto;
}

.container-vente {
  display: flex;
  flex-direction: column;
  font-family: "Pathway Extreme", sans-serif;
}

.container-vente h2 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 45px;
  color: var(--bleu);
  margin: 144px 0 15px;
}

.container-vente h3 {
  letter-spacing: 1.82px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 46px;
  color: var(--bleu);
}

.container-vente p {
  color: var(--bleu);
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 60px;
}

.container-vente img {
  box-shadow: 4px 21px 30.9px 0px rgba(0, 0, 0, 0.25);
}

#vente-livre {
  max-width: 500px;
  position: relative;
  left: 100px;
  margin-bottom: 300px;
}

.container-vente a {
  text-decoration: none;
}

button {
  color: var(--bleu);
  background: none;
  border: 3px solid var(--bleu);
  border-radius: 33px;
  padding: 8px 65px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.68px;
  font-weight: 500;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button a:hover {
  color: white;
}

button:hover {
  background-color: var(--bleu);
  color: white;
}
